body {
  background-color: #f7f7f7;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(1024px, 100vw);
  height: max(920px, 100vh);
}

.mainContainer {
  width: 1024px;
  height: 920px;
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
