/* 전체 이용 */

.container{ 
	background-color:#F7F7F7;
	width:1920px;
	height:1080px;
	position:absolute;
}
.wrap { 
	width:1024px;
	height:920px;
	position:absolute;
	left:448px;
	top:96px;
	background-color:#FFFFFF;
	border-radius:32px;
}


/* id/pw 입력 부분 */
.name { 
	width:500px;
	height:72px;
	position:absolute;
	left:262px;
	top:224px;
}
.name_input { 
	background-color:#FFFFFF;
	width:500px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
	border: 2px solid #787878;
	font-size: 24px;
	font-family: Pretendard;
}
.password { 
	width:500px;
	height:72px;
	position:absolute;
	left:262px;
	top:528px;
}
.password_input { 
	background-color:#FFFFFF;
	width:500px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
	border:2px solid #787878;
	font-size: 24px;
	font-family: Pretendard;
}
.password_check { 
	width:500px;
	height:72px;
	position:absolute;
	left:262px;
	top:616px;
}
.password_check_input { 
	background-color:#FFFFFF;
	width:500px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
	border:2px solid #787878;
	font-size: 24px;
	font-family: Pretendard;
}
.email { 
	width:500px;
	height:72px;
	position:absolute;
	left:262px;
	top:376px;
}
.email_input { 
	background-color:#FFFFFF;
	width:500px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
	border:2px solid #787878;
	font-size: 24px;
	font-family: Pretendard;
}
.codea { 
	color:#7D08D9;
	width:144px;
	height:64px;
	position:absolute;
	left:440px;
	top:64px;
	font-family:IBM Plex Mono;
	text-align:left;
	font-size:48px;
}

.list_name{ 
	color:#000000;
	width:50px;
	height:32px;
	position:absolute;
	left:262px;
	top:184px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
}
.list_id{ 
	color:#000000;
	width:90px;
	height:32px;
	position:absolute;
	left:262px;
	top:336px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.list_pw { 
	color:#000000;
	width:140px;
	height:32px;
	position:absolute;
	left:262px;
	top:488px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.wrap_foot { 
	width:500px;
	height:120px;
	position:absolute;
	left:262px;
	top:744px;
}
.wrap_foot_1 { 
	width:336px;
	height:25px;
	left:82px;
	top:0px;
}
.already { 
	color:#000000;
	width:400px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.login_mini { 
	width:70px;
	height:25px;
	position:absolute;
	left:266px;
	top:0px;
}
.login_mini a{ 
	color:#7D08D9;
	width:70px;
	height:24px;
	position:absolute;
	left:80px;
	top:0px;
	font-family:Pretendard;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.wrap_foot_2 { 
	width:500px;
	height:80px;
	position:absolute;
	left:0px;
	top:40px;
	background-color:#7D08D9;
	border-radius:12px;
}
.next_btn{
	cursor: pointer;
}
.wrap_foot_2 p{ 
	color:#FFFFFF;
	width:100px;
	height:32px;
	position:absolute;
	left:180.5px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
	background-color: #7D08D9;
	border: none;
	cursor: pointer;
	text-decoration: none;
}
.arrow_right { 
	width:24px;
	height:24px;
	position:absolute;
	left:283.5px;
	top:28px;
}


/* login 부분 */
.li_email_input{
	background-color:#7D08D9;
	width:500px;
	height:80px;
	position:absolute;
	left:96px;
	top:784px;
	border-radius:12px;
}
.email_input span{
	color:#FFFFFF;
	width:80px;
	height:32px;
	position:absolute;
	left:218.5px;
	top:24px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
}
.login_wrap{
	width:500px;
	height:217px;
	position:absolute;
	left:96px;
	top:168px;
}
.idpw{
	width:500px;
	height:168px;
	position:absolute;
	left:0px;
	top:0px;
}
.li_email{
	width:500px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	background-color:#FFFFFF;
	border-radius:10px;
	border:2px solid #787878;
}
.li_email span{
	color:#5E5E5E;
	width:452px;
	height:32px;
	position:absolute;
	left:24px;
	top:20px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
}
.li_pw{
	background-color:#FFFFFF;
	width:500px;
	height:72px;
	position:absolute;
	left:0px;
	top:96px;
	border-radius:10px;
	border:2px solid #787878;
}
.li_pw span{
	color:#5E5E5E;
	width:452px;
	height:32px;
	position:absolute;
	left:24px;
	top:20px;
	font-family:Pretendard;
	text-align:left;
	font-size:24px;
}
.join_wrap{
	width:279px;
	height:25px;
	position:absolute;
	left:110.5px;
	top:192px;
}
.join_wrap span{
	color:#000000;
	width:193px;
	height:24px;
	position:flex;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:20px;
}
.li_join{
	width:70px;
	height:25px;
	position:absolute;
	left:209px;
	top:0px;
}
.li_join span{
	color:#7D08D9;
	width:100px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:20px;
}
.li_codea{
	color:#7D08D9;
	width:144px;
	height:64px;
	position:absolute;
	left:274px;
	top:64px;
	font-family:IBM Plex Mono;
	text-align:left;
	font-size:48px;
}