.container {
    width: 1440px;
    margin: 0 auto;
  }
  
  .logo {
    color: #7d08d9;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 133%;
    margin-right: auto;
    margin-left: 40px;
    letter-spacing: 0.1em;
  }
  
  .menu {
    align-items: right;
    padding-left: 50px;
    padding-right: 50px;
    color: #454545;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu#home {
    color: #7d08d9;
  }
  
  .menu:hover {
    background-color: #f1e1fe;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  nav {
    display: flex;
  }
  
  hr {
    width: 1440px;
    height: 2px;
    background-color: #c4c4c4;
    border: 0;
  }
  
  .profile_container {
    margin: 100px 100px 100px 200px;
    display: flex;
  }
  
  .profile_info {
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .profile_name {
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 133%;
  }
  
  .profile_tag {
    display: inline-flex;
    height: 10px;
    padding: 12px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #e1fef4;
    color: #2b2b2b;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 133%;
  }
  
  .intro_box {
    width: 432px;
    height: 120px;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f7f7f7;
    margin: -80px 100px 100px 200px;
    color: var(--gray-70, #454545);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .show_cheer {
    display: flex;
    margin: -80px 100px 100px 200px;
  }
  
  .cheer_icon {
    color: var(--gray-90, #131313);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    display: flex;
  }
  
  .cheer_icon img {
    margin-left: 5px;
  }
  
  .cheer_cnt {
    color: var(--purple-40, #7d08d9);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-left: 30px;
  }
  
  .todo_list {
    position: absolute;
    margin: -950px 0px 0px 900px;
  }
  
  .todo_callender {
    margin: 100px 100px 100px 200px;
  }
  
  .callender_text {
    color: var(--gray-80, #2b2b2b);
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    display: flex;
  }
  
  .callender_text img {
    margin-right: 15px;
  }
  
  .callender_box {
    display: inline-flex;
    width: 432px;
    height: 312px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 28px;
    border: 2px solid var(--gray-10, #dedede);
    background: var(--gray-00, #fff);
    margin-top: 5px;
  }
  
  .todo_input,
  .todo_input_e {
    color: var(--gray-90, #131313);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    display: flex;
    height: 64px;
    padding: 16px 12px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 32px;
    background: var(--purple-20, #dbb0fc);
    border: none;
    cursor: pointer;
  }
  
  .add_list {
    display: inline-flex;
    height: 64px;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--gray-10, #dedede);
    color: var(--gray-90, #131313);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    border: none;
    cursor: pointer;
  }
  
  .input_field,
  .input_field_e {
    display: none;
    align-self: stretch;
    width: 704px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--purple-40, #7d08d9);
    background: var(--gray-00, #fff);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  
  .input_field_e {
    margin-top: -160px;
  }
  
  #todo_list,
  #todo_list_e {
    color: var(--gray-90, #131313);
    font-family: Pretendard;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 260%;
  }
  
  .todo_item,
  .todo_item_e {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .checkbox,
  .checkbox_e {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #7d08d9;
    margin-left: -30px;
  }
  
  .todo_text,
  .todo_text_e {
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .todo_text_e {
    color: var(--gray-90, #131313);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 240%;
  }
  
  li:hover {
    background-color: #f8f0fe;
    width: 708px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .expand_btn,
  .expand_btn_e {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .expanded_list {
    display: flex;
    height: 64px;
    padding: 16px 12px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 32px;
    background: var(--purple-05, #f8f0fe);
    border: none;
    color: var(--gray-90, #131313);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    cursor: pointer;
    margin-bottom: 200px;
    margin-top: 50px;
  }
  
  .list_name_input {
    display: flex;
    width: 110px;
    padding: 10px 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    border: 2px solid var(--gray-30, #ababab);
    background: var(--gray-00, #fff);
    color: var(--gray-40, #919191);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }