<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fe_mainContainer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fe_titleCodea.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fe_nextButton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fe_joinFinish.css' %}" />
    <title>회원가입</title>
  </head>
  <body>
    <div class="window">
      <div class="mainContainer">
        <div class="titleCodea">codea</div>
        <div class="contentContainer">
          <img class="checkPic" src="{% static 'img/checkPic.png' %}" alt="checkPic" />
          <p class="helloUser">반갑습니다, {{ username }}님!</p>
          <p class="loginGo">지금 바로 로그인 후 시작해보세요!</p>
          <a href = "{% url 'accounts:login' %}">
            <button
            class="nextButton" onclick="next()"
          >
            로그인 하기
          </button></a>
          
        </div>
      </div>
    </div>
    <script src="{% static 'javascript/join_finish.js' %}"></script>
  </body>
</html>
