@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

.alreadyJoined {
  font-size: 20px;
  text-align: center;
  width: 1024px;
  margin-top: 60px;
  a {
    color: #7d08d9;
    font-weight: bold;
    text-underline-position: under;
  }
}

.nextButton {
  background-color: #7d08d9;
  color: white;
  width: 500px;
  height: 80px;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  font-family: "Pretendard-Regular";
  margin-top: auto;
  margin-bottom: 60px;
}