
<!DOCTYPE html>
<html lang="ko">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
        href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>

<body>
    <header>
        <div class="header1">
            <div class="codea">
                <a>
                    <img src="{% static 'img/logo-codea.svg' %}">
                </a>
                codea
            </div>
            <nav class="headerNav">
                <ul>
                    <li class="home" onclick="location.href='{% url 'todo' %}'">
                            홈
                    </li>
                    <li class="search" onclick="location.href='{% url 'search:search' %}'">
                            탐색
                    </li>
                    <li class="nav_point" onclick="location.href='{% url 'point' %}'">
                            포인트
                    </li>
                    <li class="logout" onclick="location.href='{% url 'accounts:logout' %}'">
                        로그아웃   
                    </li>
                </ul>
            </nav>
            <div class="border1"></div>
        </div>
        <div class="header2">
            <div class="DM_btn">
                <a class="DM_btn_a"> 
                    <img src="{% static 'img/icon-dm.svg' %}" class="DM_btn_img1">
                </a>
                <a class="DM_btn_a" href="">
                    <img src="{% static 'img/right_icon.svg' %}" class="dmRigntIcon">
                </a>
            </div>
        </div>
        <div class="border2"></div>

        <main>
            <div class="wrap">
                <div class="side">
                    <div class="friendBtn">
                        <img class="{% static 'img/percheck.svg' %}">
                        <span>친구 소식</span>
                    </div> 
                    <div class="achiveDegree" id="achiveDegree">
                        <div class="friend_news" id="friend_news"></div>
                    </div>
                </div>
                    </div>
                </div>
                <div class="selectCategory">
                   <div class="flex-box">
                    <div class="filter-btn" data-category="전체">
                        <span>전체</span>
                    </div>
                    <div class="filter-btn" data-category="프론트">
                        <span>프론트엔드</span>
                    </div>
                    <div class="filter-btn" data-category="백엔드">
                        <span>백엔드</span>
                    </div>
                    <div class="filter-btn" data-category="풀스택">
                        <span>풀스택</span>
                    </div>
                    <div class="filter-btn" data-category="미정">
                        <span>미정</span>
                    </div>
                   </div>
                </div>
                <div class="anotherProblem">다른 개발자들의 고민을 들어주세요!</div>
                <div class="problems" id="problems">
                        
                            <ul class="question-div">
                                {% for question in questions %}
                                <li class="question-item">
                                    <a href="{% url 'search:detail' question.user.userId %}">{{ question.content }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                    </div>
                
            </div>
            <div class="anotherToDo">
                <span>다른 개발자들의 To Do를 탐색해보세요!</span>
            </div>
            <div class="friendToDo" id="friendToDo"></div>
            <div class="container">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">찾기</button>
                </form>
        
                
            </div>
        </body>
        </html>
        </div>
    </main>


    <script>
        const addIconUrl = "{% static 'img/profile.svg' %}";
        const addIconUrl2 = "{% static 'img/addfriend.svg' %}";
        const addIconUrl3 = "{% static 'img/right_icon.svg' %}";
        const addIconUrl4 = "{% static 'img/checkbox.svg' %}"; 
        
      </script>
    
        
    </script>
<script src="{% static 'js/search.js' %}"></script>


